* {
    box-sizing: border-box;
}
  
html body {
    margin: 0;
    padding: 0;
}

.header-section {
    width: 100%;
    margin: auto;
    background-color: #1f2937;
}

.header {
    width: 1000px;
    margin: auto;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
}

.header-logo {
    position: absolute;
}

.header-link-span {
    text-align: right;
}

.header-link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
}

.hero-section {
    width: 100%;
    background-color: #1f2937;
    height: 500px;
    padding: 70px;
}

.hero {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-gap: 10px;
    background-color: #1f2937;
    color: #f9faf8;
    margin: auto;
    width: 1000px;
}

.hero-left {
    padding-right: 30px;
}

.hero-left h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #f9faf8;
    font-size: 48px;
    margin-bottom: -20px;
}

.hero-left p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up-btn-hero, .sign-up-btn-hero a {
    font-family: 'Poppins', sans-serif;
    width: 120px;
    height: 40px;
    background-color: #3882f6;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
    text-decoration: none;
    color: #e5e7eb;
}

.hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #e5e7eb;
    font-size: 18px;
    background-color: #6d747d;
}

.random-information {
    height: 450px;
}

.container {
    font-family: 'Poppins', sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    text-align: center;
    margin: auto;
    height: 300px;
    width: 1000px;
}

.random-information h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
}

.info-div-image {
    height: 170px;
    width: 170px;
    border: solid 4px #3882f6;
    border-radius: 15px;
    margin: auto;
}

.info-div-text {
    display: inline-block;
    width: 170px;
    text-align: center;
    color: #6d747d;
}

.quote-section {
    background-color: #e5e7e5;
    padding: 70px;
}

.quote {
    width: 1000px;
    margin: auto;
}

.quote-body {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 36px;
    color: #1f2937;
    line-height: 45px;
}

.quote-author {
    font-family: 'Raleway', sans-serif;
    text-align: right;
    font-weight: 800;
    font-size: 24px;
}

.call-to-action {
    padding: 110px;
}

.call-to-action-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: #3882f6;
    width: 1200px;
    margin: auto;
    border-radius: 10px;
    height: 150px;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 150px;
}

.call-to-action-text h3 {
    font-family: 'Raleway', sans-serif;
    margin-bottom: -10px;
    font-size: 22px;
    color: #f9faf8;
}

.call-to-action-text p {
    font-family: 'Poppins', sans-serif;
    color: #e5e7eb;
}

.call-to-action-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;

}

.call-to-action-btn p {
    font-family: 'Raleway', sans-serif;
    border: solid 2px white;
    padding: 6px 35px 6px 35px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}

footer {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: #1f2937;
    color: #e5e7eb;
    font-weight: 300;
}